// Place all the styles related to the radios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.played-at{
  display: none;
}

strong.more-infos{
  font-size: 80px;
  color: black;
}