<div class="span12">
  <% if !@playlist.tracks.blank? %>
    <ol>
      <% @playlist.tracks.each do |track|%>
      <li><%= raw generate_embed_player(track) unless track.href.blank?%></li>
      <% end %>
    </ol>
  <% else %>
    Why U NO TRACKS ?
  <% end %>
</div>